<div class="pr-6 mb-4">
  <label class="block mb-4 text-lg font-bold text-main-blue">{{ title }}</label>
  <input
    type="text"
    id="first_name"
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
    placeholder="John"
    required
    autofocus
  />
  <!-- <input
    type="text"
    class="bg-secondary-gray border border-secondary-gray rounded focus:ring-blue-500 focus:border-main-blue shadow-inner text-base font-normal block w-custom_140px py-2 pl-custom_9_18px pr-custom_23_72px"
    [placeholder]="placeholder"
    autofocus
  /> -->
</div>
