<header
  class="w-full h-20 md:px-14 xl:px-40 flex justify-between items-center bg-main-blue"
>
  <!-- Menu left section -->
  <ul class="flex gap-x-3 md:gap-x-5 xl:gap-x-9 text-white font-normal">
    <li>
      <a class="text-lg" [routerLink]="['']">Home</a>
    </li>
    <li>
      <a class="text-lg" [routerLink]="['']">Monitor</a>
    </li>
    <li>
      <a class="text-lg" [routerLink]="['']">Manutenções</a>
    </li>
    <li>
      <a class="text-lg" [routerLink]="['']">Documentos</a>
    </li>
    <li>
      <a class="text-lg" [routerLink]="['equipments']">Estações</a>
    </li>
    <li>
      <a class="text-lg" [routerLink]="['']">Gestão</a>
    </li>
  </ul>

  <!-- Menu right section -->
  <ul class="flex gap-x-2 md:gap-x-4 xl:gap-x-6 items-center">
    <li>
      <a [routerLink]="['']">
        <img src="../../../assets/helpDesk.svg" alt="botão de ajuda" />
      </a>
    </li>
    <li>
      <a [routerLink]="['']">
        <img src="../../../assets/notification.svg" alt="notificações" />
      </a>
    </li>
    <li>
      <a [routerLink]="['']">
        <img src="../../../assets/perfil.svg" alt="perfil" />
      </a>
    </li>
  </ul>
</header>
