<div
  class="md:w-custom_810px xl:w-custom_1236px h-40 mt-6 rounded-lg bg-white shadow-customBlue"
>
  <div class="mx-9 pt-6 pb-7 flex justify-between">
    <!-- Info -->
    <div>
      <div class="flex gap-3 items-center">
        <span class="text-lg font-bold text-main-blue">
          Estação {{ station.nome }}
        </span>
        <a routerLink="#">
          <img src="../../../../assets/edit-icon.svg" alt="editar estação" />
        </a>
      </div>

      <div class="flex mt-7 gap-custom_29px">
        <p class="text-sm font-normal text-main-blue">
          Latitude: {{ station.latitude }}
        </p>
        <p class="text-sm font-normal text-main-blue">
          Longitude: {{ station.longitude }}
        </p>
      </div>
      <p class="mt-2 text-sm font-normal text-slate-500">
        {{ station.endereco }}
      </p>
    </div>
    <div
      class="md:w-[5.75rem] md:h-[3.75rem] xl:w-custom_153px xl:h-custom_100px rounded bg-blue5"
    ></div>
  </div>
</div>
