<!-- Modal -->
<div
  id="cancel-modal"
  tabindex="-1"
  class="fixed inset-0 z-50 hidden p-4 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative w-auto mx-auto max-w-6xl">
    <!-- content -->
    <div
      class="flex flex-col text-center w-custom_402px h-{10.188rem} rounded-lg bg-white shadow-customBlue"
    >
      <!-- header -->
      <div class="pt-3 px-3">
        <h3 class="font-bold text-lg text-slate-950">Cancelar</h3>

        <p class="mt-2 text-sm font-normal text-slate-700">
          Deseja sair sem salvar?
        </p>
      </div>
      <!-- footer -->
      <div class="flex justify-center gap-3 px-custom_15px mt-9 mb-3">
        <app-cancel-button
          (click)="cancel()"
          data-modal-toggle="cancel-modal"
        ></app-cancel-button>

        <button
          (click)="exit()"
          data-modal-toggle="cancel-modal"
          type="button"
          class="relative group transition duration-500 ease-in-out w-custom_180px py-custom_10px text-white1 font-inter font-normal text-base rounded-lg bg-gradient-to-r from-black1 to-black2"
        >
          <div
            class="absolute inset-0 rounded-lg transition duration-300 ease-in-out opacity-0 bg-gradient-to-r from-blue-500 to-blue-700 group-hover:opacity-100"
          ></div>
          <div class="relative">Sair</div>
        </button>
      </div>
    </div>
  </div>
</div>
