<div class="pr-6">
  <h3 class="block mb-2 text-base font-bold text-main-blue">{{ title }}</h3>

  <select
    class="appearance-none bg-secondary-gray border border-secondary-gray rounded focus:ring-blue-500 focus:border-main-blue shadow-inner text-sm font-normal text-gray2 block w-custom_140px pt-custom_6px pb-custom_7px px-custom_10px pr-custom_23_72px custom-select-arrow"
    id="equipmentStatus"
    [(ngModel)]="selectedEquipmentStatus"
    (change)="OnEquipmentStatusChange()"
  >
    <option
      *ngFor="let equipmentStatus of equipmentStatus"
      [ngValue]="equipmentStatus"
    >
      {{ equipmentStatus.title }}
    </option>
  </select>
</div>
