<div class="pb-32">
  <p
    class="md:px-14 lg:px-16 2xl:px-40 pt-3 text-base font-normal text-main-blue"
  >
    {{ action_path }}
  </p>

  <div class="flex justify-center">
    <!-- Div equipamentos -->
    <div class="xl1:mx-80 3xl:mx-custom_275px mt-6">
      <div class="flex">
        <div>
          <!-- Title equipamentos -->
          <div *ngIf="nEquipamentos != 0">
            <div
              *ngIf="nEquipamentos > 1; else singular"
              class="justify-start text-base font-bold text-main-blue"
            >
              {{ nEquipamentos }} Equipamentos
            </div>
          </div>
          <!-- Equipamento Card -->
          <app-station-detail-card
            [station]="station"
          ></app-station-detail-card>

          <div
            class="flex gap-6 justify-center mt-6 font-normal text-main-blue text-base"
          >
            <a routerLink="#">Histórico de Manutenções</a>
            <a routerLink="#" class="font-bold">Equipamentos</a>
            <a routerLink="#">Documentos</a>
          </div>

          <!-- Equipamentos relacionados -->
          <app-equipments [equipaments]="equipaments"></app-equipments>
        </div>

        <!-- Filter -->
        <div class="pl-9">
          <!-- Div search-bar -->
          <div>
            <app-search-bar
              (onTyping)="filter = $event"
              [value]="filter"
            ></app-search-bar>
          </div>
          <!-- Filter type -->
          <div>Tipo</div>
        </div>
      </div>
    </div>
    <ng-template #singular
      ><div class="justify-start text-base font-bold text-main-blue">
        {{ nEquipamentos }} Equipamento
      </div></ng-template
    >
  </div>
</div>
